{{>user_navigation}}
<section class="class ">
        <div class="u-wrapper">
            <h2 class="u-h2">Elige una clase
            </h2>
            <p class="u-parrafo">
                Quieres una atencin mas personalizada? Pues reserva la clase que quieras
            </p>

            <div class="class-grid">

                <div class="class-item">
                    <img src="/public/img/atom.svg" alt="">
                    <h3 class="uh3">
                        Clase de Fisica
                    </h3>
                    <p class="u-parrafo">
                        Incluida con tu supcripción
                    </p>
                    <button class="u-buttom fullWitho">
                       Reservar Clase
                    </button>
                </div>

                <div class="class-item">
                    <img src="/public/img/calculating.svg" alt="">
                    <h3 class="uh3">
                       Clase de Matemáticas
                    </h3>
                    <p class="u-parrafo">
                      Incluida con tu supcripción
                    </p>
                    <button class="u-buttom fullWitho">
                          Reservar Clase
                    </button>
                </div>



                <div class="class-item">
                    <img src="/public/img/english.svg" alt="">
                    <h3 class="uh3">

                       Clase de Ingles
                    </h3>
                    <p class="u-parrafo">
                         Incluida con tu supcripción
                    </p>
                    <button class="u-buttom fullWitho">
                         Reservar Clase
                    </button>
                </div>
            </div>





        </div>
    </section>


    <section class="class ">
        <div class="u-wrapper">
            <h2 class="u-h2">Elige uno de nuestros cursos
            </h2>
            <p class="u-parrafo">
                Quieres aprender cosas nueva e ir al siguiente nivel del conocimiento? Pues toma uno de nuestro cursos!
            </p>

            <div class="class-grid">

                <div class="class-item">
                    <img src="/public/img/atom.svg" alt="">
                    <h3 class="uh3">
                        Clase de Física
                    </h3>
                    <p class="u-parrafo">
                         Incluida con tu supcripción
                    </p>
                    <button class="u-buttom fullWitho">
                        Tomar curso
                    </button>
                </div>

                <div class="class-item">
                    <img src="/public/img/calculating.svg" alt="">
                    <h3 class="uh3">
                        Curso de Matemáticas
                    </h3>
                    <p class="u-parrafo">
                        Incluida con tu supcripción
                    </p>
                    <button class="u-buttom fullWitho">
                       Tomar curso
                    </button>
                </div>



                <div class="class-item">
                    <img src="/public/img/english.svg" alt="">
                    <h3 class="uh3">
Curso de Ingles
                    </h3>
                    <p class="u-parrafo">
                         Incluida con tu supcripción
                    </p>
                    <button class="u-buttom fullWitho">
                        Tomar curso
                    </button>
                </div>
            </div>





        </div>
    </section>