<section class="hero">
        <div class="u-wrapper">
            <div class="hero-grid">
                <div class="hero-imageContainer">

                    <div class="hero-image">

                        <img class="hero-image" src="/public/img/illustration-hero.svg" alt="">
                    </div>
                </div>
                <div class="hero-content">


                    <h1 class="u-h1">A Simple Bookmark Manager</h1>
                    <p class="u-parrafo">A clean and simple interface to organize your favourite websites. Open a new browser tab and see your sites load instantly. Try it for free.</p>
                    <div class="hero-buttoms">

                        <button class="u-buttom">Get it on Chrome</button>
                        <button class="u-buttom is-gray">Get it on Firefox</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="features 
    ">
        <div class="u-wrapper">

            <h2 class="u-h2">
                Features
            </h2>
            <p class="u-parrafo">

                Our aim is to make it quick and easy for you to access your favourite websites. Your bookmarks sync between your devices so you can access them on the go.
            </p>

            <div class="tabs">
                <input type="radio" value="bookmarking" name="tabs" id="bookmarking" checked>
                <input type="radio" value="searching" name="tabs" id="searching">
                <input type="radio" value="sharing" name="tabs" id="sharing">
                <ul>
                    <li class="tabs-link">
                        <label for="bookmarking">
                            Simple Bookmarking
                        </label>

                    </li>
                    <li class="tabs-link">
                        <label for="searching">
                            Speedy Searching
                        </label>
                    </li>
                    <li class="tabs-link" ring>
                        <label for="sharing">
                            Easy Sharing
                        </label>
                    </li>
                </ul>
                <div class="tabs-grid">
                    <div class="tabs-content" id="tab-bookmarking">
                        <img src="/public/img/illustration-features-tab-1.svg" alt="">
                        <div>

                            <h2 class="u-h2">Bookmark in one click</h2>
                            <p class="u-parrafo">Organize your bookmarks however you like. Our simple drag-and-drop interface gives you complete control over how you manage your favourite sites.</p>
                            <button class="u-buttom">
                                More Info
                            </button>
                        </div>
                    </div>
                    <div class="tabs-content" id="tab-searching">
                        <img src="/public/img/illustration-features-tab-2.svg" alt="">
                        <div>

                            <h2 class="u-h2"> Download the extension</h2>
                            <p class="u-parrafo">
                                We’ve got more browsers in the pipeline. Please do let us know if you’ve got a favourite you’d like us to prioritize.
                            </p>
                            <button class="u-buttom">
                                More Info
                            </button>
                        </div>
                    </div>
                    <div class="tabs-content" id="tab-sharing">
                        <img src="/public/img/illustration-features-tab-3.svg" alt="">
                        <div>

                            <h2 class="u-h2">
                                Share your bookmarks</h2>
                            <p class="u-parrafo">
                                We’ve got more browsers in the pipeline. Please do let us know if you’ve got a favourite you’d like us to prioritize.
                            </p>
                            <button class="u-buttom">
                                More Info
                            </button>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section>

    <section class="download ">
        <div class="u-wrapper">
            <h2 class="u-h2">Download the extension
            </h2>
            <p class="u-parrafo">
                We’ve got more browsers in the pipeline. Please do let us know if you’ve got a favourite you’d like us to prioritize.
            </p>

            <div class="download-grid">

                <div class="download-item">
                    <img src="/public/img/logo-chrome.svg" alt="">
                    <h3 class="uh3">
                        Add to Chrome
                    </h3>
                    <p class="u-parrafo">
                        Minimum version 62
                    </p>
                    <button class="u-buttom fullWitho">
                        Add & Install Extension
                    </button>
                </div>

                <div class="download-item">
                    <img src="/public/img/logo-firefox.svg" alt="">
                    <h3 class="uh3">
                        Add to Firefox
                    </h3>
                    <p class="u-parrafo">
                        Minimum version 55
                    </p>
                    <button class="u-buttom fullWitho">
                        Add & Install Extension
                    </button>
                </div>



                <div class="download-item">
                    <img src="/public/img/logo-opera.svg" alt="">
                    <h3 class="uh3">

                        Add to Opera
                    </h3>
                    <p class="u-parrafo">
                        Minimum version 46
                    </p>
                    <button class="u-buttom fullWitho">
                        Add & Install Extension
                    </button>
                </div>
            </div>





        </div>
    </section>

    <section class="question ">

        <div class="u-wrapper">
            <h2 class="u-h2">
                Frequently Asked Question
            </h2>

            <p class="u-parrafo">
                Here are some of our FAQs. If you have any other questions you’d like answered please feel free to email us.
            </p>

            <div class="carousel">

                <div class="carousel-item">
                    <!-- <input type="checkbox" id="carousel-check"> -->
                    <details class="carousel-content">
                        <summary class="carousel-header">
                            <!-- Question 1 -->
                            What is Bookmark?

                        </summary>

                        <div class="u-parrafo">


                            <!-- Answer 1 -->
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt justo eget ultricies fringilla. Phasellus blandit ipsum quis quam ornare mattis.
                        </div>
                    </details>
                </div>

                <div class="carousel-item">
                    <!-- <input type="checkbox" id="carousel-check"> -->
                    <details class="carousel-content">
                        <summary class="carousel-header">
                            <!-- Question 2 -->
                            How can I request a new browser?

                        </summary>

                        <div class="u-parrafo">
                            <!-- Answer 2 -->
                            Vivamus luctus eros aliquet convallis ultricies. Mauris augue massa, ultricies non ligula. Suspendisse imperdiet. Vivamus luctus eros aliquet convallis ultricies. Mauris augue massa, ultricies non ligula. Suspendisse imperdie tVivamus luctus eros aliquet
                            convallis ultricies. Mauris augue massa, ultricies non ligula. Suspendisse imperdiet.
                        </div>
                    </details>
                </div>

                <div class="carousel-item">
                    <!-- <input type="checkbox" id="carousel-check"> -->
                    <details class="carousel-content">
                        <summary class="carousel-header">
                            <!-- Question 3 -->
                            Is there a mobile app?

                        </summary>

                        <div class="u-parrafo">


                            <!-- Answer 3 -->
                            Sed consectetur quam id neque fermentum accumsan. Praesent luctus vestibulum dolor, ut condimentum urna vulputate eget. Cras in ligula quis est pharetra mattis sit amet pharetra purus. Sed sollicitudin ex et ultricies bibendum.
                        </div>
                    </details>
                </div>

                <div class="carousel-item">
                    <!-- <input type="checkbox" id="carousel-check"> -->
                    <details class="carousel-content">
                        <summary class="carousel-header">
                            <!-- Question 4 -->
                            What about other Chromium browsers?

                        </summary>

                        <div class="u-parrafo">
                            <!-- Answer 4 -->
                            Integer condimentum ipsum id imperdiet finibus. Vivamus in placerat mi, at euismod dui. Aliquam vitae neque eget nisl gravida pellentesque non ut velit. More Info 35,000+ already joined Stay up-to-date with what we’re doing Contact Us Features Pricing
                            Contact
                        </div>
                    </details>
                </div>
            </div>

        </div>


        <button class="u-buttom"> More info</button>


    </section>

    <section class="join">
        <div class="u-wrapper">

            <small> 35,000+ already joined</small>
            <h4 class="u-h4"> Stay up-to-date with what we’re doing</h4>
            <form action="" class="form">
                <input placeholder="Enter your email address" type="text" class="form-input">
                <input type="submit" value="Contact Us" class="u-buttom is-red fullWith">

            </form>
        </div>
    </section>