<section class="hero">
        <div class="u-wrapper">
            <div class="hero-grid">
                <div class="hero-imageContainer">

                    <div class="hero-image">

                        <img class="hero-image" src="/public/img/illustration-hero.svg" alt="">
                    </div>
                </div>
                <div class="hero-content">


                    <h1 class="u-h1">el mejor lugar Donde Aprender</h1>
                    <p class="u-parrafo">Descubre nuestras nuevas formas de aprendizaje para profundizar y obtener los conocimientos que deseas con nuestros cursos..</p>
                    <div class="hero-buttoms">

                        <button class="u-buttom">Tomar curso</button>
                        <button class="u-buttom is-gray">Clases Privada</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="features 
    ">
        <div class="u-wrapper">

            <h2 class="u-h2">
                Cursos
            </h2>
            <p class="u-parrafo">

                Descubre nuestras nuevas formas de aprendizaje
            </p>

            <div class="tabs">
                <input type="radio" value="bookmarking" name="tabs" id="bookmarking" checked>
                <input type="radio" value="searching" name="tabs" id="searching">
                <input type="radio" value="sharing" name="tabs" id="sharing">
                <ul>
                    <li class="tabs-link">
                        <label for="bookmarking">
                            Clases de Física
                        </label>

                    </li>
                    <li class="tabs-link">
                        <label for="searching">
                            Clases de Inglés
                        </label>
                    </li>
                    <li class="tabs-link" ring>
                        <label for="sharing">
                            Clases de Matemática
                        </label>
                    </li>
                </ul>
                <div class="tabs-grid">
                    <div class="tabs-content" id="tab-bookmarking">
                        <img src="/public/img/atom.svg" alt="">
                        <div>

                            <h2 class="u-h2">Curso de Física</h2>
                            <p class="u-parrafo">Domina los conceptos básicos de la física . Resuelve problemas reales con el poder de la física  y lleva tus conociminetos a otro nilvel con las clases del curso.</p>
                            <button class="u-buttom">
                               Tomar Curso
                            </button>
                        </div>
                    </div>
                    <div class="tabs-content" id="tab-searching">
                        <img src="/public/img/english.svg" alt="">
                        <div>

                            <h2 class="u-h2"> Download the extension</h2>
                            <p class="u-parrafo">
                                We’ve got more browsers in the pipeline. Please do let us know if you’ve got a favourite you’d like us to prioritize.
                            </p>
                            <button class="u-buttom">
                                More Info
                            </button>
                        </div>
                    </div>
                    <div class="tabs-content" id="tab-sharing">
                        <img src="/public/img/calculating.svg" alt="">
                        <div>

                            <h2 class="u-h2">
                                Share your bookmarks</h2>
                            <p class="u-parrafo">
                                We’ve got more browsers in the pipeline. Please do let us know if you’ve got a favourite you’d like us to prioritize.
                            </p>
                            <button class="u-buttom">
                                More Info
                            </button>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section>

    <section class="download ">
        <div class="u-wrapper">
            <h2 class="u-h2">Download the extension
            </h2>
            <p class="u-parrafo">
                We’ve got more browsers in the pipeline. Please do let us know if you’ve got a favourite you’d like us to prioritize.
            </p>

            <div class="download-grid">

                <div class="download-item">
                    <img src="/public/img/logo-chrome.svg" alt="">
                    <h3 class="uh3">
                        Add to Chrome
                    </h3>
                    <p class="u-parrafo">
                        Minimum version 62
                    </p>
                    <button class="u-buttom fullWitho">
                        Add & Install Extension
                    </button>
                </div>

                <div class="download-item">
                    <img src="/public/img/logo-firefox.svg" alt="">
                    <h3 class="uh3">
                        Add to Firefox
                    </h3>
                    <p class="u-parrafo">
                        Minimum version 55
                    </p>
                    <button class="u-buttom fullWitho">
                        Add & Install Extension
                    </button>
                </div>



                <div class="download-item">
                    <img src="/public/img/logo-opera.svg" alt="">
                    <h3 class="uh3">

                        Add to Opera
                    </h3>
                    <p class="u-parrafo">
                        Minimum version 46
                    </p>
                    <button class="u-buttom fullWitho">
                        Add & Install Extension
                    </button>
                </div>
            </div>





        </div>
    </section>

    
    <section class="join">
        <div class="u-wrapper">

            <small> 35,000+ already joined</small>
            <h4 class="u-h4"> Stay up-to-date with what we’re doing</h4>
            <form action="" class="form">
                <input placeholder="Enter your email address" type="text" class="form-input">
                <input type="submit" value="Contact Us" class="u-buttom is-red fullWith">

            </form>
        </div>
    </section>