{{>navigation}}

<section class="hero">
    <div class="u-wrapper">
        <div class="hero-grid">
            <div class="hero-imageContainer">

                <div class="hero-image">

                    <img class="hero-image" src="/public/img/logo.svg" alt="">
                </div>
            </div>

            <div class="hero-content" id="tclass">
                <h1 class="u-h1">El Mejor Lugar Donde Aprender</h1>
                <p class="u-parrafo">Descubre nuestras nuevas formas de aprendizaje para profundizar y obtener los
                    conocimientos que deseas con nuestros cursos..</p>
                <div class="hero-buttoms">

                    <button class="u-buttom">Tomar curso</button>
                    <button class="u-buttom is-gray">Clases Privada</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="features" id="courses">
    <div class="u-wrapper">

        <h2 class="u-h2">
            Cursos
        </h2>
        <p class="u-parrafo">

            Descubre nuestras nuevas formas de aprendizaje
        </p>

        <div class="tabs">
            <input type="radio" value="bookmarking" name="tabs" id="bookmarking" checked>
            <input type="radio" value="searching" name="tabs" id="searching">
            <input type="radio" value="sharing" name="tabs" id="sharing">
            <ul>
                <li class="tabs-link">
                    <label for="bookmarking">
                        Clases de Física
                    </label>

                </li>
                <li class="tabs-link">
                    <label for="searching">
                        Clases de Inglés
                    </label>
                </li>
                <li class="tabs-link" ring>
                    <label for="sharing">
                        Clases de Matemática
                    </label>
                </li>
            </ul>
            <div class="tabs-grid">
                <div class="tabs-content" id="tab-bookmarking">
                    <img src="/public/img/atom.svg" alt="">
                    <div>

                        <h2 class="u-h2">Curso de Física</h2>
                        <p class="u-parrafo">Domina los conceptos básicos de la física . <br />Resuelve
                            problemas reales con el poder de la física y lleva tus
                            conociminetos a otro nilvel con las clases del curso.</p>
                        <button class="u-buttom">
                            Tomar Curso
                        </button>
                    </div>
                </div>
                <div class="tabs-content" id="tab-searching">
                    <img src="/public/img/english.svg" alt="">
                    <div>

                        <h2 class="u-h2"> Curso de Ingles</h2>
                        <p class="u-parrafo">
                            Aprende Inglés desde cero. <br />Consigue oportunidades de
                            trabajo internacionales y duplica tus ingresos al comunicarte
                            efectivamente en inglés.<br />
                            Aumenta el 70% las probabilidades de conseguir un buen
                            empleo.<br />
                            80% de las ofertas de empleos de alto nivel tienen inglés como
                            requisito.
                            <br />Aumenta tu ingreso en un 40%.<br />
                            El 75% de la bibliografía científica y documentación técnica
                            está en inglés.
                        </p>
                        <button class="u-buttom">
                            Tomar Curso
                        </button>
                    </div>
                </div>
                <div class="tabs-content" id="tab-sharing">
                    <img src="/public/img/calculating.svg" alt="">
                    <div>

                        <h2 class="u-h2">
                            Curso de Matematicas</h2>
                        <p class="u-parrafo">
                            Las matemática son para todos !<br />Desarrolla los
                            pensamientos abstractos y lógico.<br />
                            Domina conceptos basicos de matemática y forma las bases para
                            entender temas de mayor grado de dificultad, <br />como
                            machine learning ,inteligencia artificial o marketing digital.
                        </p>
                        <button class="u-buttom">
                            Tomar Curso
                        </button>
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>

<section class="join" id="contact">
    <div class="u-wrapper">

        <small> 35,000+ Usuarios Unidos</small>
        <h4 class="u-h4"> Mantengase Conectados con Nosotros</h4>
        <form action="" class="form">
            <input placeholder="Escribe tu Direccion de Email" type="text" class="form-input">
            <input type="submit" value="Contactanos" class="u-buttom is-red fullWith">

        </form>
    </div>
</section>