{{#each errors}}

<div class="alert_success error" id="alert_error">
	<div class="icon data_icon">
		<i class="fas fa-bomb"></i>
	</div>
	<div class="data">
		<p class="title"><span>Error:</span>
			{{text}}
		</p>
	</div>
	<div class="icon close" id="btn-close2">
		<i class="fas fa-times"></i>
	</div>
</div>


{{/each}}