{{#if success_msg}}

<div class="alert_success" id="alert_success">
    <div class="icon data_icon">
        <i class="fas fa-check-circle"></i>
    </div>
    <div class="data">
        <p class="title"><span>Success:</span>
            Alerta de prueba
        </p>

    </div>
    <div class="icon close" id="btn-close">
        <i class="fas fa-times"></i>
    </div>
</div>


{{/if}}