<input type="checkbox" id="open" class="menu-checkbok">
    <header class="header">
        <div class="u-wrapper">

            <div class="header-content">
                <a href="/" class="header-logo"></a>
                <!-- <img src="./static/images/logo-bookmark.svg" alt=""> -->
                <!-- <img src="./static/images/logo-bookmark white.svg" alt=""> -->
                <label for="open" class="menu-open"></label>

                <nav class="menu">
                    <div class="u-wrapper">

                        <ul>
                            <li>
                                <a href="/class/myclass">Clases</a>
                            </li>


                            <li>
                                <a href="">Cursos</a>
                            </li>
                            <li>
                                <a href="/user/signup">Logout</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>