<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Htmldetails.title}}</title>
    <link rel="stylesheet" href="/public/css/{{Htmldetails.styles}}">
    <link rel="stylesheet" href="/public/css/alerts.css">
    <link rel="stylesheet" href="/public/fontawesome/css/all.css">
    {{!-- <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,600&display=swap" rel="stylesheet"> --}}
</head>
<body>
    {{>message}}
    {{>errors}}
    {{{body}}}



    <script src="/public/js/main.js"></script>
</body>
</html>