<div id="download-grid" class="download-grid active">

        <div class="download-item">
            <img src="Views/images/calculadora.svg" alt="" width="105" height="100">
            <h3 class="uh3">
                Tomar clase de Matemática
            </h3>
            <p class="u-parrafo">
                $25 por hora
            </p>
            <button class="u-buttom fullWitho" id="btn-abrir-math">
                Tomar clase
            </button>
        </div>

        <div class="download-item">
            <img src="Views/images/inglaterra.svg" alt="" width="105" height="100">
            <h3 class="uh3">
                Tomar clase de Inglés
            </h3>
            <p class="u-parrafo">
                $25 por hora
            </p>
            <button class="u-buttom fullWitho" id="btn-abrir-ing">
                Tomar clase
            </button>
        </div>

        <div class="download-item">
            <img src="Views/images/atomo.svg" alt="" width="105" height="100">
            <h3 class="uh3">

                Tomar clase de Física
            </h3>
            <p class="u-parrafo">
                $25 por hora
            </p>
            <button class="u-buttom fullWitho" id="btn-abrir-fsc">
                Tomar clase
            </button>
        </div>
    </div>